<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phishing Wesbite detector</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <form method="POST" action="/predict">
    <h1>Phising URL detector</h1>
    <label for="url"></label>
    <input type="text" name="url" id="url"> 
    <button>Check URL</button>
    <h2>Result: </h2>
    <h2>Confidence: </h2>
    </form>
  </body>
</html>
